<%= form_for @profile, :multipart => true, url: user_profile_path do |f| %>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= file_field :profile, :avatar , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <% if current_user.plan_id == 1 %>
    <div class="form-group">
      <%= f.label :profile_type %>
      <%= f.select :profile_type, ['Fan'], {}, class: 'form-control' %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :profile_type %>
      <%= f.select :profile_type, ['Artist', 'A&R Rep'], {}, class: 'artist-check form-control' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Update Profile", class: 'btn btn-primary' %>
  </div>
<% end %>