<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <% @user.each do |user| %>
        <% if user.profile %>
          <li>
            <div class="well row <%= cycle('white-bg', '') %>">
              <div class="col-sm-4 text-center avatar">
                <% if user.profile.avatar.attached? %>
                  <%= link_to user do %>
                    <%= image_tag user.profile.avatar %>
                  <% end %>
                <% else %>
                  <%= link_to user do %>
                    <img src="https://via.placeholder.com/100">
                  <% end %>
                <% end %>
              </div>

              <div>
                <%= link_to user do %>
                  <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                <% end %>
                <p>
                  <%= user.profile.profile_type %> 
                  <% if user.plan_id == 2 %>
                    <span class="label label-danger">PRO</span>
                  <% end %>
                </p>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <div class="well">
      <h2>Listen and Vote</h2>

      <hr>
        
      <ul class="list-unstyled">

        <% @song.each do |s| %>

          <li style="margin: 0 auto; margin-bottom: 20px; width: 90%; border: 1px solid black; border-radius: 5px; padding: 10px 20px; box-shadow: 0 5px #337ab7;">
        
            <h3 style="margin-bottom: 0; padding-bottom;"><%= s.title %></h3><br>
            
            <%= image_tag s.song_cover, style: 'width: 100px' %>
            
            <audio style="background-color: #337ab7;" controls>
              <source src="<%= url_for(s.song_file) %>" type="audio/mpeg">
            </audio>

            <div class="row">

              <div class="col-sm-3">

                <div style="margin-top: 20px; margin-bottom: 10px;">
                  <i class="fa-solid fa-thumbs-up" style="font-size: large;"></i> | <i class="fa-solid fa-thumbs-down" style="font-size: large; transform: scaleX(-1)"></i>
                </div>

              </div>

              <div class="col-sm-3 col-sm-offset-6">
                <button class="btn btn-small" style="margin-top: 10px;">Save Song</button>
              </div>

            </div>

          </li>

        <% end %>

      </ul>

    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
      <h2>Comments</h2>
    </div>
  </div>
</div>
