<%= form_for @song, :multipart => true, url: user_profile_path do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= text_field :song, :title , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cover %> <span><i>( jpeg / png )</i></span>
    <%= file_field :song, :cover , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :file %> <span><i>( mp3 / wav )</i></span>
    <%= file_field :song, :file , class: 'form-control' %>
  </div>
  
<% end %>
